.DS_Store
lang-portal/.env
.env
language-learning-assistant/qdrant/qdrant.db/collection/german_learning/storage.sqlite
language-learning-assistant/qdrant/qdrant.db/.lock
.venv/**
reiseabenteuer/qdrant_storage/**
reiseabenteuer/frontend-react/node_modules/**
reiseabenteuer/__pycache__/**

reiseabenteuer/qdrant_storage/collection/german_vocabulary/storage.sqlite
reiseabenteuer/output/**
reiseabenteuer/pictures/**